/* This file controls the website's text properties such as: font-family, font-size, color, text-align, and list-style  */

body {
  font-family: 'Lora', serif;
}

/* Header section */

#header-title h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

#header-title h4 {
  font-size: 0.6em;
  text-transform: uppercase;
  color: #666;
}

#header-social-links ul {
  list-style: none;
}

/* Main section */

main h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.1em;
}

#post-info, #post-date, #post-info a {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #666;
  text-decoration: none;
}

#main-content p {
  text-indent: 24px;
}

/* Ingredients section */

.ingredients ul {
  list-style: none;
}

.ingredients li {
  line-height: 24px;
}

/* Author section */

#author-text h6 {
  font-size: 16px;
}

#author-text p {
  font-size: 14px;
  color: #666;
}

#share {
  font-size: 16px;
  background: hsl(22, 84%, 55%);
  color: white;
  text-transform: uppercase;
}

/* Footer section */

footer {
  text-align: center;
}

footer p {
  font-size: 12px;
  color: #999;
}