body {
  font-family: 'Lora', serif;
}

#header-title {
  margin-left: 12px;
}

#header-title h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  /* letter-spacing: 0.05em; */
}

#header-title h4 {
  font-size: 0.6em;
  text-transform: uppercase;
  color: #666;
}

main h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.1em;
}

#post-info, #post-date, #post-info a {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #666;
  text-decoration: none;
}

#main-content p {
  text-indent: 24px;
}

.ingredients {
  background-image: url("../assets/list-bg2.png");
  margin: 0 12px 36px;
  box-shadow: 0 5px 5px #ccc;
}

.ingredients ul {
  margin: 0;
  list-style: none;
}

.ingredients li {
  line-height: 24px;
}

input[type=checkbox]:checked + label {
  color: #ccc;
  text-decoration: line-through;
} 

#share {
  width: 100%;
  background: hsl(22, 84%, 55%);
  color: white;
  font-size: 16px;
  padding: 12px;
  text-transform: uppercase;
}

#share:hover {
  background: hsl(22, 84%, 50%)
}

footer {
  text-align: center;
}

footer p {
  color: #999;
  font-size: 12px;
  margin: 18px !important;
}